# Virtual environment
venv/
env/

# Python files
*.pyc
__pycache__/

# Django specific
*.log
local_settings.py
db.sqlite3
media

# MacOS
.DS_Store

# IDE files
.vscode/
.idea/

# Folders
nayim/


.env