<form method="post" class="container mt-4">
    {% csrf_token %}
    <div class="mb-3 row">
        <label for="name" class="col-sm-4 col-form-label text-end">Name:</label>
        <div class="col-sm-8">
            {{ form.name }}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="address" class="col-sm-4 col-form-label text-end">Address:</label>
        <div class="col-sm-8">
            {{ form.address }}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="profession" class="col-sm-4 col-form-label text-end">Profession:</label>
        <div class="col-sm-8">
            {{ form.profession }}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="tel_number" class="col-sm-4 col-form-label text-end">Phone number:</label>
        <div class="col-sm-8">
            {{ form.tel_number }}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="email_address" class="col-sm-4 col-form-label text-end">Email address:</label>
        <div class="col-sm-8">
            {{ form.email_address }}
        </div>
    </div>

    <div class="d-flex justify-content-evenly mt-4">
        <input type="submit" value="Update" class="btn btn-primary"/>
        <a class="btn btn-secondary" onclick="cancelEdit({{contact.pk}})">Cancel</a>
    </div>
</form>
